<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>NSPhotoLibraryAddUsageDescription</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>key</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict/>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>NSPhotoLibraryAddUsageDescription</key>
			<string></string>
			<key>UTTypeDescription</key>
			<string>NSPhotoLibraryAddUsageDescription</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>NSPhotoLibraryAddUsageDescription</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
